.musicPlayerAsAWholeContainer {
  width: 600px;
  height: 420px;
  outline-style: solid;
}

.totalPlaysDownLoadsPlayTodayCounter {
  background: black;
  color: aliceblue;
}

.currentSongArtistStatusSection {
  background: black;
  color: aliceblue;
  width: 45%;
}

.upperSectionOfPlayerControlButtonsAndVisualStatus {
  background: grey;
}

/*CSS GRID **** (attempt)*/
/*player controls buutons*/
.controlButtonsStopPlayPausePlayFastFoward {
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5%;
  grid-template-rows: 10% 10% 10% 100%;
}

/* 1st speaker icon and slider*/
.volume-1st-volumeIconWSlider {
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5%;
  grid-template-rows: 10% 10% 10% 100%;
}

/* 2nd speaker icon and slider*/
.volume-2nd-volumeIconWSlider {
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5%;
  grid-template-rows: 10% 10% 10% 100%;
}

#container-14-Container-Total-Plays-Downloads-Play-Today-Counter {
  display: grid;
  grid-template-columns: 40% 40% 40%;
  grid-template-rows: 10% 10% 10% 100%;
}
/*
  [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}
**/
.albumArtLocationAndAlbumTitleAndYear {
  background: grey;
}

#info-18-albumArtLocationAndAlbumTitleAndYear {
  width: 30%;
  height: 60%;
}

/* INDIVIDUAL SONG TITLE */

#song-24-firstSongTitle,
#song-28-secondSongTitle,
#song-32-thirdSongTitle,
#song-36-fourthSongTitle {
  color: blue;
}
